* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
    
    
    background: radial-gradient(circle, rgba(237,65,167,0.9921218487394958) 7%, rgba(191,166,227,0.7008053221288515) 55%);

}


@font-face {
    font-family:fall; 
    src: url("/style/fonts/FallIsComingRegular-Mx9B.ttf");
 
}
@font-face {
    font-family: simi;
    src: url("/style/fonts/Sigmar-Regular.ttf");
    
}

@font-face {
    font-family: hand;
    src: url("/style/fonts/PatrickHandSC-Regular.ttf");
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0,0.6);
   
    top: 0;
    padding-right: 35px;
    font-family: fall;
    font-size: 35px;
    font-weight: 800;
    backdrop-filter: blur(2px);
    box-shadow: 0 10px 10px rgba(43, 2, 33, 0.18);
    border-right: 45px solid;
    /* border-left: 45px solid ; */
    border-image-source: url(/style/imgs/border/star_frame-removebg-preview.png);
    border-image-repeat: repeat;
    border-image-slice:100;
    
    
 }

 ul 
  { 
    list-style: none;
    
  }

  li
   {
    display:inline-block;
   

   }
   li a
   {
       margin-left: 40px;
       padding: 20px;
       text-decoration: none;
       
       color: #00b7eb ;

       
   }

   nav a.active::before 
    {
       display: inline-block;
       content: "*";
       color: chartreuse;
   
    }

    #LOGO
      {
        color: #e60073;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 40px;
        margin: 20px 0 20px 50px;
        animation: shine 2s ease-in-out infinite alternate;
      }


      @keyframes shine {
        from { text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;}
    }
    to 
    {
        text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
       

 .stikers {
    display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .Contact-Information p
                    {
                        font-family: fall;
                        font-size: 50px;
                        padding: 15px;
                        text-align: center;
                        line-height: 3;
                    }
.Container 
            {
                 width:700px;
                 height:auto;
                 
                 padding:15px;
                 
                 background-color: rgba(81, 69, 37, 0.584);
                border-radius: 10px;
                /* position: absolute; */
                transform: translate(90%);
                /* top:1030px;
                left:50%; */
                
                display: flex;
                justify-content: center;
                
            }

.Box {
    /* background-color: cornflowerblue; */
    padding: 10px;
    width: 600px;
    height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4  {
    font-size: 35px;
    font-family: fall;
    margin: 15px;
    letter-spacing: 2px;
}
.name 
      {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
      }
.name i 
       {
        position: absolute;
        top:50%;
        left:30px;
        transform: translateY(-50%);
        font-size: 20px;
        color:rgb(133, 80, 255);
       }
.name input 
              {
                width: 100%;
                padding: 20px 60px;
                border: none;
                font-size: 25px;
                font-family: hand;
                background-color:rgb(228, 120, 185);
                color: blueviolet;
                border-radius: 40px;
                outline: none;
              }
input::placeholder 
                         {
                            color:black
                         }
textarea::placeholder {
    color:black
}
.email 
              {
                width: 100%;
                position: relative;
                margin-bottom: 15px;
              }
.email i 
               {
                position: absolute;
                top:50%;
                left:30px;
                transform: translateY(-50%);
                font-size: 20px;
               color:rgb(133, 80, 255);
               }
.email input 
                      {
                        width: 100%;
                        padding: 20px 60px;
                        border: none;
                        font-size:25px;
                        font-family: hand;
                        background-color:rgb(228, 120, 185);
                        border-radius: 40px;
                        outline: none;
                        color: blueviolet;

                      }
 .message-box
                      {
                        width: 100%;
                        position: relative;
                        margin-bottom: 15px;
                      }
/* .message-box i 
                       {
                        position: absolute;
                        top:50%;
                        left:30px;
                        transform: translateY(-50%);
                        font-size: 20px;
                        color: #ff4da6;
                       } */
.message-box textarea
                              {
                                width: 100%;
                                padding: 20px 60px;
                                border: none;
                                font-size: 25px;
                                font-family: hand;
                                background-color:rgb(228, 120, 185);
                                border-radius: 40px;
                               outline:none;
                               color: blueviolet;
                              }
.button 
       {
        width: 100%;
        
        margin-bottom: 10px;
        /* background-color: darkgoldenrod; */
       }
.button button 
             {
                width: 100%;
                padding: 10px;
                border-radius: 40px;
                cursor: pointer;
                font-size: 20px;
                font-family: hand;
                outline: none;
                border:none ;
                color:black;
                background-color:rgb(228, 120, 185);
             }
.message 
         {
            width: 100%;
            position: relative;
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
         }
.message .success 
              {
                font-size: 45px;
                font-family: fall;
                font-weight: 800;
                color: darkorange;
                position: absolute;
                animation: button .3s alternate;
                display: none;
              }
.message .danger
              {
                font-size: 45px;
                font-family: fall;
                font-weight: 800;
                color: rgb(60, 0, 255);
                position: absolute;
                animation: button .3s linear;
                display: none;
              }
@keyframes button {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% 
         {
           transform: scale(1);
         }
    }


    .Footer-Box  
    {
       display: flex;
       background-color: rgb(0,0,0,0.5);
       justify-content: center;
       text-align: center;
       align-items: center;
       margin-top: 200px;
       padding: 20px;
       border-top: 55px solid blueviolet;
       border-image-source:url(/style/imgs/border/200.png);
       border-image-repeat:repeat;
       border-image-slice:90
       
    }
.Footer-Box div
        {
           padding: 40px;
        }
.Footer-Box h4  
       {
           font-family: fall;
           font-size: 35px;
           color: #e60073;
       }
.Footer-Box span
      {
       font-family: hand;
       color:cornflowerblue;
       font-weight: 800;
       font-size: 20px;
       letter-spacing: 1px;
      }

.Footer-Logo img
     { 
       /* background-color: #E66C2C; */
       width:300px;
       transform: rotate(-10deg);
       
     }